/* screen - frame-3 */

.frame-3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 700px;
  overflow: hidden;
  width: 500px;
}

.frame-3 .overlap-group2 {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-right: 2.0px;
  min-width: 500px;
  padding: 0 151px;
}

.frame-3 .png-3 {
  height: 34px;
  object-fit: cover;
  width: 197px;
}

.frame-3 .group-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 4.0px;
  margin-top: 21px;
  min-height: 43px;
  width: 424px;
}

.frame-3 .rectangle-4 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  height: 20px;
  margin-top: 1px;
  width: 20px;
}

.frame-3 .text-32 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 9px;
  min-height: 24px;
  min-width: 76px;
  white-space: nowrap;
}

.frame-3 .rectangle-5 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  height: 20px;
  margin-left: 33px;
  margin-top: 1px;
  width: 20px;
}

.frame-3 .text-33 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 9px;
  min-height: 24px;
  min-width: 100px;
  white-space: nowrap;
}

.frame-3 .rectangle-6 {
  background-color: var(--black);
  border: 1px solid;
  height: 20px;
  margin-left: 28px;
  margin-top: 1px;
  width: 20px;
}

.frame-3 .text-34 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 9px;
  min-height: 24px;
  white-space: nowrap;
}

.frame-3 .text-35 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 15px;
  min-width: 76px;
  white-space: nowrap;
}

.frame-3 .text-36 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 62px;
  min-height: 15px;
  min-width: 76px;
  white-space: nowrap;
}

.frame-3 .text-37 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 81px;
  min-height: 15px;
  white-space: nowrap;
}

.frame-3 .line-1 {
  height: 1px;
  margin-right: 1.0px;
  margin-top: 16px;
  object-fit: cover;
  width: 477px;
}

.frame-3 .line-2 {
  height: 1px;
  margin-right: 1.0px;
  margin-top: 32px;
  object-fit: cover;
  width: 477px;
}

.frame-3 .group-5-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 19px;
  min-width: 268px;
}

.frame-3 .overlap-group {
  height: 23px;
  position: relative;
  width: 268px;
}

.frame-3 .rectangle-7 {
  background-color: var(--black);
  height: 19px;
  left: 135px;
  position: absolute;
  top: 1px;
  width: 19px;
}

.frame-3 .lb-20 {
  left: 0;
  letter-spacing: -0.46px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.frame-3 .overlap-group1 {
  height: 330px;
  margin-right: 3.0px;
  margin-top: 16px;
  position: relative;
  width: 475px;
}

.frame-3 .line-12 {
  height: 167px;
  left: 355px;
  position: absolute;
  top: 36px;
  width: 1px;
}

.frame-3 .text-29 {
  left: 10px;
  line-height: 42px;
  position: absolute;
  top: 34px;
}

.frame-3 .text-30 {
  left: 247px;
  line-height: 42px;
  position: absolute;
  top: 34px;
}

.frame-3 .span1-1 {
  letter-spacing: -0.34px;
}

.frame-3 .text-31 {
  left: 367px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 34px;
}
