<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/frame-4.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body style="margin: 0">
    <div id="print">
      <input type="hidden" id="anPageName" name="page" value="frame-4" />
      <div class="container-center-horizontal">
        <div class="frame-4 screen">
          <div class="overlap-group1">
            <div class="overlap-group3"><img class="png-1" src="img/----------png-1.png" alt="png 1" /></div>
            <div class="group-2">
              <div class="flex-row gmarketsans-medium-black-24px">
                <div class="rectangle-4"></div>
                <div class="text-5">풀 플랜</div>
                <div class="rectangle-5"></div>
                <div class="text-6">하프 플랜</div>
                <div class="rectangle-6"></div>
                <div class="text-7">토핑 플랜</div>
              </div>
              <div class="text-container gmarketsans-medium-black-14-5px">
                <div class="text-8">(28팩×2주)</div>
                <div class="text-9">(28팩×4주)</div>
                <div class="text-10">(20팩×4주)</div>
              </div>
            </div>
            <img class="line-1" src="img/line-1.svg" alt="Line 1" />
            <h1 class="x515g gmarketsans-medium-black-90px"><span class="dogName">철수</span><span class="space">&nbsp;</span><span class="recipeWeight">46.9</span><span class="g">g</span></h1>
            <img class="line-2" src="img/line-1.svg" alt="Line 2" />
            <div class="overlap-group">
              <div class="rectangle-7"></div>
              <div class="rectangle-8" style="display: none"></div>
              <p class="sp-28 gmarketsans-medium-black-23px">
                <span class="selected-1" style="display: inline">선택 레시피:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="recipe">SP</span> (<span class="pack">28</span>팩)</span>
                <span class="selected-2" style="display: none">선택 레시피:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="recipe-2">TB</span> (<span class="pack-2">14</span>팩)&nbsp;&nbsp;
                |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="recipe-3">LB</span> (<span class="pack-3">14</span>팩)</span>
              </p>
            </div>
            <div class="overlap-group2">
              <div class="rectangle-9"></div>
              <div class="customer-record gmarketsans-bold-white-20px">Customer Record</div>
              <div class="rectangle-10"></div>
              <img class="line-3" src="img/line-3.svg" alt="Line 3" />
              <img class="line-4" src="img/line-3.svg" alt="Line 4" />
              <img class="line-5" src="img/line-3.svg" alt="Line 5" />
              <img class="line-6" src="img/line-3.svg" alt="Line 6" />
              <img class="line-7" src="img/line-3.svg" alt="Line 7" />
              <img class="line-8" src="img/line-3.svg" alt="Line 8" />
              <img class="line-9" src="img/line-9.svg" alt="Line 9" />
              <img class="line-10" src="img/line-10.svg" alt="Line 10" />
              <img class="line-12" src="img/line-12.svg" alt="Line 12" />
              <img class="line-13" src="img/line-13.svg" alt="Line 13" />
              <div class="text-1 gmarketsans-bold-black-22px">
                <span class="span gmarketsans-bold-black-22px"
                  >출생년월<br />성별<br />몸무게<br />활동량<br />산책량<br /></span
                ><span class="span1 gmarketsans-bold-black-20-5px">식이 알러지<br /></span
                ><span class="span gmarketsans-bold-black-22px">기타 질병</span>
              </div>
              <p class="x202106-32kg gmarketsans-medium-black-22px">
                <span class="span0 gmarketsans-medium-black-22px"
                  ><span class="dogBirth">2022.08.</span><br /><span class="dogGender">수컷</span><br /><span class="dogWeight">3</span>kg (<span class="dogSize">소</span>)<br /><span class="dogActivityLevel">적음</span><br />산책 <span class="dogWalkingCountPerWeek">5</span>회 이상, 평균 <span class="dogWalkingTimePerOneTime">30분</span><br /></span
                ><span class="span1-1"><span class="dogInedibleFood">연어, 오리, 소, 양, 계란흰자, 게, 우유</span><br/></span
                ><span class="span3 gmarketsans-medium-black-22px"><span class="dogCaution">아토피 피부염 치료 중</span></span>
              </p>
              <div class="text-2 gmarketsans-bold-black-22px">
                <span class="span gmarketsans-bold-black-22px">견종<br /></span
                ><span class="span1-2 gmarketsans-bold-black-22px">중성화 여부<br /></span
                ><span class="span gmarketsans-bold-black-22px">현재 상태<br />간식량</span>
              </div>
              <div class="text-3 gmarketsans-medium-black-22px"><span class="dogNeutralization">완료</span><br /><span class="dogStatus">건강함</span><br /><span class="dogSnackCountLevel">적음</span></div>
              <div class="text-4 gmarketsans-medium-black-22px"><span class="dogType">푸들</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="no-print">
      <br>
      <br>
      <div style="text-align: right">* PDF로 저장할 경우 (크롬 브라우저 기준) : A4, 여백 없음, 배율 162, 배경그래픽 체크</div>
      <div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col" style="background-color: #bcaaa4">#</th>
            <th scope="col" style="background-color: #bcaaa4">주문번호</th>
            <th scope="col" style="background-color: #bcaaa4">주문상태</th>
            <th scope="col" style="background-color: #bcaaa4">구독상태</th>
            <th scope="col" style="background-color: #bcaaa4">견주</th>
            <th scope="col" style="background-color: #bcaaa4">수령자</th>
            <th scope="col" style="background-color: #bcaaa4">견종</th>
            <th scope="col" style="background-color: #bcaaa4">견명</th>
            <th scope="col" style="background-color: #bcaaa4">팩수</th>
            <th scope="col" style="background-color: #bcaaa4">SP</th>
            <th scope="col" style="background-color: #bcaaa4">TB</th>
            <th scope="col" style="background-color: #bcaaa4">DL</th>
            <th scope="col" style="background-color: #bcaaa4">LB</th>
            <th scope="col" style="background-color: #bcaaa4">PC</th>
            <th scope="col" style="background-color: #bcaaa4">PT</th>
            <th scope="col" style="background-color: #bcaaa4">PL</th>
            <th scope="col" style="background-color: #bcaaa4">PB</th>
            <th scope="col" style="background-color: #bcaaa4">배송주기</th>
            <th scope="col" style="background-color: #bcaaa4">견 성별</th>
            <th scope="col" style="background-color: #bcaaa4">견 출생</th>
            <th scope="col" style="background-color: #bcaaa4">견 무게</th>
            <th scope="col" style="background-color: #bcaaa4">견 사이즈</th>
            <th scope="col" style="background-color: #bcaaa4">중성화</th>
            <th scope="col" style="background-color: #bcaaa4">활동량</th>
            <th scope="col" style="background-color: #bcaaa4">산책량(1주당)</th>
            <th scope="col" style="background-color: #bcaaa4">산책량(1회당)</th>
            <th scope="col" style="background-color: #bcaaa4">견 상태</th>
            <th scope="col" style="background-color: #bcaaa4">간식량</th>
            <th scope="col" style="background-color: #bcaaa4">못먹는 음식</th>
            <th scope="col" style="background-color: #bcaaa4">못먹는 음식 기타</th>
            <th scope="col" style="background-color: #bcaaa4">기타 질병</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="data : ${datas}" class="full-data">
            <td th:text="${data.index}" style="background-color: #d1c4e9"></td>
            <td th:text="${data.merchantUid}"></td>
            <td th:text="${data.orderStatus}"></td>
            <td th:text="${data.subscribeStatus}"></td>
            <td th:text="${data.memberName}" style="background-color: #64ffda"></td>
            <td th:text="${data.deliveryName}"></td>
            <td th:text="${data.dogType}"></td>
            <td th:text="${data.dogName}" class="dogNameList" style="background-color: #ffd740"></td>
            <td th:text="${data.numOfPacks}"></td>
            <td th:text="${data.starterPremium}" style="background-color: #f8bbd0"></td>
            <td th:text="${data.turkeyAndBeef}" style="background-color: #f8bbd0"></td>
            <td th:text="${data.duckAndLamb}" style="background-color: #f8bbd0"></td>
            <td th:text="${data.lambAndBeef}" style="background-color: #f8bbd0"></td>
            <td th:text="${data.premiumChicken}" style="background-color: #f8bbd0"></td>
            <td th:text="${data.premiumTurkey}" style="background-color: #f8bbd0"></td>
            <td th:text="${data.premiumLamb}" style="background-color: #f8bbd0"></td>
            <td th:text="${data.premiumBeef}" style="background-color: #f8bbd0"></td>
            <td th:text="${data.deliveryInterval}"></td>
            <td th:text="${data.dogGender}"></td>
            <td th:text="${data.dogBirth}"></td>
            <td th:text="${data.dogWeight}"></td>
            <td th:text="${data.dogSize}"></td>
            <td th:text="${data.dogNeutralization}"></td>
            <td th:text="${data.dogActivityLevel}"></td>
            <td th:text="${data.dogWalkingCountPerWeek}"></td>
            <td th:text="${data.dogWalkingTimePerOneTime}"></td>
            <td th:text="${data.dogStatus}"></td>
            <td th:text="${data.dogSnackCountLevel}"></td>
            <td th:text="${data.dogInedibleFood}"></td>
            <td th:text="${data.dogInedibleFoodEtc}"></td>
            <td th:text="${data.dogCaution}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="btn btn-success print-btn" onclick="printer()" style="position: fixed; right: 0; bottom: 0;">Print:&nbsp;#<span class="numbering"></span></button>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      //중복된 견 명 찾기 위한 리스트 생성
      const dogNameArr = [];
      let elementList = document.querySelectorAll('.dogNameList');
      for (const element of elementList) {
        dogNameArr.push(element.innerText.trim());
      }
      let result = new Set(dogNameArr.filter((item, index) => dogNameArr.indexOf(item) !== index));


      const fullData = document.querySelectorAll('.full-data');
      for (const fullDatum of fullData) {
        fullDatum.addEventListener('click', function () {
          let children = fullDatum.children;
          let num = children[0].innerHTML;
          let dogType = children[6].innerHTML;  //견종
          let dogName = children[7].innerHTML;  //견명
          let numOfPacks = children[8].innerHTML;  //팩수
          let sp = children[9].innerHTML;  //SP
          let tb = children[10].innerHTML;  //TB
          let dl = children[11].innerHTML;  //DL
          let lb = children[12].innerHTML;  //LB
          let pc = children[13].innerHTML;  //PC
          let pt = children[14].innerHTML;  //PT
          let pl = children[15].innerHTML;  //PL
          let pb = children[16].innerHTML;  //PB
          let deliveryInterval = children[17].innerHTML;  //배송주기
          let dogGender = children[18].innerHTML;  //견 성별
          let dogBirth = children[19].innerHTML;  //견 출생
          let dogWeight = children[20].innerHTML;  //견 무게
          let dogSize = children[21].innerHTML;  //견 무게
          let dogNeutralization = children[22].innerHTML;  //중성화
          let dogActivityLevel = children[23].innerHTML;  //활동량
          let dogWalkingCountPerWeek = children[24].innerHTML;  //산책량(1주당)
          let dogWalkingTimePerOneTime = children[25].innerHTML;  //산책량(1회당)
          let dogStatus = children[26].innerHTML;  //견 현재상태
          let dogSnackCountLevel = children[27].innerHTML;  //간식량
          let dogInedibleFood = children[28].innerHTML;  //못먹는 음식
          let dogInedibleFoodEtc = children[29].innerHTML;  //못먹는 음식 기타
          let dogCaution = children[30].innerHTML;  //기타 질병

          //plan
          let plan;
          if (parseInt(numOfPacks) >= 20 && parseInt(numOfPacks) < 28) {
            plan = 'topping';
          } else if (parseInt(numOfPacks) >= 28 && parseInt(deliveryInterval) === 14) {
            plan = 'full';
          } else if (parseInt(numOfPacks) >= 28 && parseInt(deliveryInterval) === 28) {
            plan = 'half';
          } else {
            plan = 'wrong';
          }

          if (plan === 'topping') {
            document.querySelector('.rectangle-4').style.backgroundColor = 'var(--white)';
            document.querySelector('.rectangle-4').style.border = '1px solid';
            document.querySelector('.rectangle-4').style.borderColor = 'var(--black)';
            document.querySelector('.rectangle-5').style.backgroundColor = 'var(--white)';
            document.querySelector('.rectangle-6').style.backgroundColor = 'var(--black)';
          } else if (plan === 'full') {
            document.querySelector('.rectangle-4').style.backgroundColor = 'var(--black)';
            document.querySelector('.rectangle-5').style.backgroundColor = 'var(--white)';
            document.querySelector('.rectangle-6').style.backgroundColor = 'var(--white)';
          } else if (plan === 'half') {
            document.querySelector('.rectangle-4').style.backgroundColor = 'var(--white)';
            document.querySelector('.rectangle-4').style.border = '1px solid';
            document.querySelector('.rectangle-4').style.borderColor = 'var(--black)';
            document.querySelector('.rectangle-5').style.backgroundColor = 'var(--black)';
            document.querySelector('.rectangle-6').style.backgroundColor = 'var(--white)';
          } else {
            alert('플랜을 구분할 수 없습니다.')
          }

          //견명
          if (result.has(dogName)) {
            dogName = dogName + '(' + dogType.at(0) + ')';
          }
          document.querySelector('.dogName').innerHTML = dogName;

          //선택 레시피
          let spWeight = parseFloat(sp);
          let tbWeight = parseFloat(tb);
          let dlWeight = parseFloat(dl);
          let lbWeight = parseFloat(lb);
          let pcWeight = parseFloat(pc);
          let ptWeight = parseFloat(pt);
          let plWeight = parseFloat(pl);
          let pbWeight = parseFloat(pb);
          let cnt = 0;
          let arr = [spWeight, tbWeight, dlWeight, lbWeight, pcWeight, ptWeight, plWeight, pbWeight];
          let idx = [];
          let map = new Map();
          for (let i = 0; i < arr.length; i++) {
            if (arr[i] !== 0) {
              cnt++;
              idx.push(i);
              map.set(i, arr[i]);
            }
          }

          let recipeNames = [];
          for (let i = 0; i < idx.length; i++) {
            if (idx[i] === 0) {
              recipeNames.push('SP');
            } else if (idx[i] === 1) {
              recipeNames.push('TB');
            } else if (idx[i] === 2) {
              recipeNames.push('DL');
            } else if (idx[i] === 3) {
              recipeNames.push('LB');
            } else if (idx[i] === 4) {
              recipeNames.push('PC');
            } else if (idx[i] === 5) {
              recipeNames.push('PT');
            } else if (idx[i] === 6) {
              recipeNames.push('PL');
            } else if (idx[i] === 7) {
              recipeNames.push('PB');
            }
          }

          let selectedRecipe;
          if (plan === 'full' && cnt === 2) {
            document.querySelector('.recipe-2').innerHTML = recipeNames[0];
            document.querySelector('.recipe-3').innerHTML = recipeNames[1];
            document.querySelector('.pack-2').innerHTML = '14';
            document.querySelector('.pack-3').innerHTML = '14';

            selectedRecipe = prompt('[풀플랜] 레시피 두 가지 중 하나 선택: ' + recipeNames[0] + '/' + recipeNames[1]).toLowerCase();
            // if (selectedRecipe === 'sp') {
            //   if (spWeight === 0) {
            //     alert("잘못 선택했습니다.");
            //   }
            //   for (let i = 0; i < recipeNames.length; i++) {
            //     if (recipeNames[i].toLowerCase() === selectedRecipe) {
            //       if (i === 0) {
            //         document.querySelector('.rectangle-7').style.backgroundColor = 'var(--black)';
            //         document.querySelector('.rectangle-8').style.backgroundColor = 'var(--white)';
            //         document.querySelector('.rectangle-8').style.border = '1px solid';
            //         document.querySelector('.rectangle-8').style.borderColor = 'border-color: var(--black)';
            //       } else {
            //         document.querySelector('.rectangle-8').style.backgroundColor = 'var(--black)';
            //         document.querySelector('.rectangle-7').style.backgroundColor = 'var(--white)';
            //         document.querySelector('.rectangle-7').style.border = '1px solid';
            //         document.querySelector('.rectangle-7').style.borderColor = 'border-color: var(--black)';
            //       }
            //     }
            //   }
            // } else if (selectedRecipe === 'tb') {
            //   if (tbWeight === 0) {
            //     alert("잘못 선택했습니다.")
            //   }
            //   for (let i = 0; i < recipeNames.length; i++) {
            //     if (recipeNames[i].toLowerCase() === selectedRecipe) {
            //       if (i === 0) {
            //         document.querySelector('.rectangle-7').style.backgroundColor = 'var(--black)';
            //         document.querySelector('.rectangle-8').style.backgroundColor = 'var(--white)';
            //         document.querySelector('.rectangle-8').style.border = '1px solid';
            //         document.querySelector('.rectangle-8').style.borderColor = 'border-color: var(--black)';
            //       } else {
            //         document.querySelector('.rectangle-8').style.backgroundColor = 'var(--black)';
            //         document.querySelector('.rectangle-7').style.backgroundColor = 'var(--white)';
            //         document.querySelector('.rectangle-7').style.border = '1px solid';
            //         document.querySelector('.rectangle-7').style.borderColor = 'border-color: var(--black)';
            //       }
            //     }
            //   }
            // } else if (selectedRecipe === 'dl') {
            //   if (dlWeight === 0) {
            //     alert("잘못 선택했습니다.")
            //   }
            //   for (let i = 0; i < recipeNames.length; i++) {
            //     if (recipeNames[i].toLowerCase() === selectedRecipe) {
            //       if (i === 0) {
            //         document.querySelector('.rectangle-7').style.backgroundColor = 'var(--black)';
            //         document.querySelector('.rectangle-8').style.backgroundColor = 'var(--white)';
            //         document.querySelector('.rectangle-8').style.border = '1px solid';
            //         document.querySelector('.rectangle-8').style.borderColor = 'border-color: var(--black)';
            //       } else {
            //         document.querySelector('.rectangle-8').style.backgroundColor = 'var(--black)';
            //         document.querySelector('.rectangle-7').style.backgroundColor = 'var(--white)';
            //         document.querySelector('.rectangle-7').style.border = '1px solid';
            //         document.querySelector('.rectangle-7').style.borderColor = 'border-color: var(--black)';
            //       }
            //     }
            //   }
            // } else if (selectedRecipe === 'lb') {
            //   if (lbWeight === 0) {
            //     alert("잘못 선택했습니다.")
            //   }
            //   for (let i = 0; i < recipeNames.length; i++) {
            //     if (recipeNames[i].toLowerCase() === selectedRecipe) {
            //       if (i === 0) {
            //         document.querySelector('.rectangle-7').style.backgroundColor = 'var(--black)';
            //         document.querySelector('.rectangle-8').style.backgroundColor = 'var(--white)';
            //         document.querySelector('.rectangle-8').style.border = '1px solid';
            //         document.querySelector('.rectangle-8').style.borderColor = 'border-color: var(--black)';
            //       } else {
            //         document.querySelector('.rectangle-8').style.backgroundColor = 'var(--black)';
            //         document.querySelector('.rectangle-7').style.backgroundColor = 'var(--white)';
            //         document.querySelector('.rectangle-7').style.border = '1px solid';
            //         document.querySelector('.rectangle-7').style.borderColor = 'border-color: var(--black)';
            //       }
            //     }
            //   }
            // } else {
            //   alert("잘못 입력하셨습니다.")
            // }

            for (let i = 0; i < recipeNames.length; i++) {
              if (recipeNames[i].toLowerCase() === selectedRecipe) {
                if (i === 0) {
                  document.querySelector('.rectangle-7').style.backgroundColor = 'var(--black)';
                  document.querySelector('.rectangle-8').style.backgroundColor = 'var(--white)';
                  document.querySelector('.rectangle-8').style.border = '1px solid';
                  document.querySelector('.rectangle-8').style.borderColor = 'border-color: var(--black)';
                } else {
                  document.querySelector('.rectangle-8').style.backgroundColor = 'var(--black)';
                  document.querySelector('.rectangle-7').style.backgroundColor = 'var(--white)';
                  document.querySelector('.rectangle-7').style.border = '1px solid';
                  document.querySelector('.rectangle-7').style.borderColor = 'border-color: var(--black)';
                }
              }
            }


            document.querySelector('.sp-28').style.left = '-85px';
            document.querySelector('.rectangle-7').style.left = '50px';
            document.querySelector('.rectangle-8').style.display = 'inline';
            document.querySelector('.selected-1').style.display = 'none';
            document.querySelector('.selected-2').style.display = 'inline';
          } else {
            document.querySelector('.recipe').innerHTML = recipeNames[0];
            document.querySelector('.sp-28').style.left = '0';
            document.querySelector('.rectangle-7').style.left = '134px';
            document.querySelector('.rectangle-7').style.backgroundColor = 'var(--black)';
            document.querySelector('.rectangle-8').style.display = 'none';
            document.querySelector('.selected-1').style.display = 'inline';
            document.querySelector('.selected-2').style.display = 'none';
          }


          //한끼 급여량
          let recipeWeight;
          if (plan !== 'full' || (plan === 'full' && cnt === 1)) {
            if (spWeight !== 0) {
              recipeWeight = spWeight;
            } else if (tbWeight !== 0) {
              recipeWeight = tbWeight;
            } else if (dlWeight !== 0) {
              recipeWeight = dlWeight;
            } else if (lbWeight !== 0) {
              recipeWeight = lbWeight;
            } else if (pcWeight !== 0) {
              recipeWeight = pcWeight;
            } else if (ptWeight !== 0) {
              recipeWeight = ptWeight;
            } else if (plWeight !== 0) {
              recipeWeight = plWeight;
            } else if (pbWeight !== 0) {
              recipeWeight = pbWeight;
            }
          } else {  // 2 recipe full plan
            if (selectedRecipe === 'sp') {
              recipeWeight = spWeight;
            } else if (selectedRecipe === 'tb') {
              recipeWeight = tbWeight;
            } else if (selectedRecipe === 'dl') {
              recipeWeight = dlWeight;
            } else if (selectedRecipe === 'lb') {
              recipeWeight = lbWeight;
            } else if (selectedRecipe === 'pc') {
              recipeWeight = pcWeight;
            } else if (selectedRecipe === 'pt') {
              recipeWeight = ptWeight;
            } else if (selectedRecipe === 'pl') {
              recipeWeight = plWeight;
            } else if (selectedRecipe === 'pb') {
              recipeWeight = pbWeight;
            }
          }
          document.querySelector('.recipeWeight').innerHTML = recipeWeight;

          document.querySelector('.x515g').style.fontSize = '90px';  //초기화
          document.querySelector('.x515g').style.marginBottom = '0';  //초기화
          document.querySelector('.x515g').style.lineHeight = 'normal';  //초기화
          let totalWidth = document.querySelector('.dogName').offsetWidth + document.querySelector('.recipeWeight').offsetWidth + document.querySelector('.space').offsetWidth + document.querySelector('.g').offsetWidth;

          if (totalWidth >= 460) {
            document.querySelector('.x515g').style.fontSize = '90px';
            document.querySelector('.x515g').style.lineHeight = '97px';
            if (dogName.includes("(") && dogName.replaceAll("(", "").replaceAll(")", "").length === 2) {
              const nums = recipeWeight.toString().replaceAll(".", "").length;
              if (nums === 4) {
                document.querySelector('.x515g').style.fontSize = '81px';
              } else if (nums === 5) {
                document.querySelector('.x515g').style.fontSize = '74px';
              }
            } else if (dogName.includes("(") && dogName.replaceAll("(", "").replaceAll(")", "").length === 3) {
              const nums = recipeWeight.toString().replaceAll(".", "").length;
              if (nums === 2) {
                document.querySelector('.x515g').style.fontSize = '87px';
              } else if (nums === 3) {
                document.querySelector('.x515g').style.fontSize = '77px';
              } else if (nums === 4) {
                document.querySelector('.x515g').style.fontSize = '71px';
              } else if (nums === 5) {
                document.querySelector('.x515g').style.fontSize = '66px';
              }
            } else if (dogName.includes("(") && dogName.replaceAll("(", "").replaceAll(")", "").length === 4) {
              const nums = recipeWeight.toString().replaceAll(".", "").length;
              if (nums === 2) {
                document.querySelector('.x515g').style.fontSize = '76px';
              } else if (nums === 3) {
                document.querySelector('.x515g').style.fontSize = '68px';
              } else if (nums === 4) {
                document.querySelector('.x515g').style.fontSize = '64px';
              } else if (nums === 5) {
                document.querySelector('.x515g').style.fontSize = '60px';
              }
            } else if (dogName.includes("(") && dogName.replaceAll("(", "").replaceAll(")", "").length > 4) {
              document.querySelector('.x515g').style.fontSize = '54px';
            } else if (!dogName.includes("(") && dogName.length === 2) {
              const nums = recipeWeight.toString().replaceAll(".", "").length;
              if (nums === 4) {
                document.querySelector('.x515g').style.fontSize = '88px';
              } else if (nums === 5) {
                document.querySelector('.x515g').style.fontSize = '81px';
              }
            } else if (!dogName.includes("(") && dogName.length === 3) {
              const nums = recipeWeight.toString().replaceAll(".", "").length;
              if (nums === 2) {
                document.querySelector('.x515g').style.fontSize = '90px';
              } else if (nums === 3) {
                document.querySelector('.x515g').style.fontSize = '84px';
              } else if (nums === 4) {
                document.querySelector('.x515g').style.fontSize = '77px';
              } else if (nums === 5) {
                document.querySelector('.x515g').style.fontSize = '71px';
              }
            } else if (!dogName.includes("(") && dogName.length === 4) {
              const nums = recipeWeight.toString().replaceAll(".", "").length;
              if (nums === 2) {
                document.querySelector('.x515g').style.fontSize = '82px';
              } else if (nums === 3) {
                document.querySelector('.x515g').style.fontSize = '74px';
              } else if (nums === 4) {
                document.querySelector('.x515g').style.fontSize = '68px';
              } else if (nums === 5) {
                document.querySelector('.x515g').style.fontSize = '63px';
              }
            } else if (!dogName.includes("(") && dogName.length > 4) {
              document.querySelector('.x515g').style.fontSize = '57px';
            }
          } else {
            document.querySelector('.x515g').style.fontSize = '90px';
          }


          //팩수
          document.querySelector('.pack').innerHTML = numOfPacks;


          //출생년월
          let year = dogBirth.substring(0, 4);
          let month = dogBirth.substring(4, 6);
          document.querySelector('.dogBirth').innerHTML = year + '.' + month + '.';

          //견종
          document.querySelector('.text-4').style.left = '311px';  //초기화
          document.querySelector('.dogType').style.fontSize = '22px';  //초기화
          document.querySelector('.dogType').style.letterSpacing = '0';  //초기화
          document.querySelector('.dogType').innerHTML = dogType;
          let typeWidth = document.querySelector('.dogType').offsetWidth;
          if ( typeWidth > 155 && typeWidth < 161) {
            document.querySelector('.text-4').style.left = '308px';
            document.querySelector('.dogType').style.letterSpacing = '-1px';
          } else if (typeWidth >= 161 && typeWidth <= 220) {
            document.querySelector('.text-4').style.left = '308px';
            document.querySelector('.dogType').style.fontSize = '17px';
            document.querySelector('.dogType').style.letterSpacing = '-1px';
          } else if (typeWidth > 220 && typeWidth <= 287) {
            document.querySelector('.text-4').style.left = '305px';
            document.querySelector('.dogType').style.fontSize = '14px';
            document.querySelector('.dogType').style.letterSpacing = '-1px';
          } else if (typeWidth > 287 && typeWidth <= 330) {
            document.querySelector('.text-4').style.left = '304px';
            document.querySelector('.dogType').style.fontSize = '13px';
            document.querySelector('.dogType').style.letterSpacing = '-1px';
          } else if (typeWidth > 330) {
            document.querySelector('.text-4').style.left = '304px';
            document.querySelector('.dogType').style.fontSize = '12px';
            document.querySelector('.dogType').style.letterSpacing = '-1px';
          } else {
            document.querySelector('.text-4').style.left = '311px';
            document.querySelector('.dogType').style.fontSize = '22px';
            document.querySelector('.dogType').style.letterSpacing = '0';
          }


          //성별
          document.querySelector('.dogGender').innerHTML = dogGender === 'MALE' || '수컷' ? '수컷' : '암컷';

          //중성화 여부
          document.querySelector('.dogNeutralization').innerHTML = dogNeutralization === 'YES' ? '완료' : '미완료';

          //몸무게
          document.querySelector('.dogWeight').innerHTML = dogWeight;
          if (dogSize === 'LARGE' || dogSize === '대형' || dogSize === '대') {
            dogSize = '대';
          } else if (dogSize === 'MIDDLE' || dogSize === '중형' || dogSize === '중') {
            dogSize = '중';
          } else {
            dogSize = '소';
          }

          //사이즈
          document.querySelector('.dogSize').innerHTML = dogSize;

          //현재 상태
          if (dogStatus === 'LACTATING' || dogStatus === '수유중') {
            dogStatus = '수유중';
          } else if (dogStatus === 'NEED_DIET' || dogStatus === '다이어트필요') {
            dogStatus = '다이어트필요';
            document.querySelector('.dogStatus').style.letterSpacing = '-1px';
            document.querySelector('.dogStatus').style.fontSize = '18px';
          } else if (dogStatus === 'OBESITY' || dogStatus === '비만') {
            dogStatus = '비만';
          } else if (dogStatus === 'PREGNANT' || dogStatus === '임신중') {
            dogStatus = '임신중';
          } else {
            dogStatus = '건강함';
          }
          document.querySelector('.dogStatus').innerHTML = dogStatus;

          //활동량
          if (dogActivityLevel === 'VERY_LITTLE' || dogActivityLevel === '매우 적음') {
            dogActivityLevel = '매우 적음';
          } else if (dogActivityLevel === 'LITTLE' || dogActivityLevel === '다소 적음') {
            dogActivityLevel = '다소 적음';
          } else if (dogActivityLevel === 'MUCH' || dogActivityLevel === '다소 많음') {
            dogActivityLevel = '다소 많음';
          } else if (dogActivityLevel === 'VERY_MUCH' || dogActivityLevel === '매우 많음') {
            dogActivityLevel = '매우 많음';
          } else {
            dogActivityLevel = '보통';
          }
          document.querySelector('.dogActivityLevel').innerHTML = dogActivityLevel;

          //간식량
          if (dogSnackCountLevel === 'LITTLE' || dogSnackCountLevel === '적음') {
            dogSnackCountLevel = '적음';
          } else if (dogSnackCountLevel === 'MUCH' || dogSnackCountLevel === '많음') {
            dogSnackCountLevel = '많음';
          } else {
            dogSnackCountLevel = '보통';
          }
          document.querySelector('.dogSnackCountLevel').innerHTML = dogSnackCountLevel;

          //산책량(1주당)
          document.querySelector('.dogWalkingCountPerWeek').innerHTML = dogWalkingCountPerWeek;

          //산책량(1회당)
          let walkingTime = dogWalkingTimePerOneTime.split('.');
          let hour = walkingTime[0] === '0' ? '' : walkingTime[0] + '시간 ';
          let minute = walkingTime[1] === '5' ? '30분' : '';
          document.querySelector('.dogWalkingTimePerOneTime').innerHTML = hour + minute;

          //식이알러지
          let foodAllergy;
          if (dogInedibleFood === null || dogInedibleFood === 'NONE' || dogInedibleFood === '') {
            foodAllergy = '없음';
          } else if (dogInedibleFood === 'ETC') {
            foodAllergy = dogInedibleFoodEtc;
          } else {
            foodAllergy = dogInedibleFood;
          }
          document.querySelector('.dogInedibleFood').innerHTML = foodAllergy;
          document.querySelector('.span1-1').style.fontSize = '22px'; //초기화
          document.querySelector('.span1-1').style.lineHeight = '45px'; //초기화
          let offsetHeight = document.querySelector('.dogInedibleFood').offsetHeight;
          if (offsetHeight > 26 && offsetHeight < 67) {
            document.querySelector('.span1-1').style.lineHeight = '16px';
            document.querySelector('.span1-1').style.fontSize = '18px';
          } else if (offsetHeight >= 67 && offsetHeight < 112) {
            document.querySelector('.span1-1').style.lineHeight = '16px';
            document.querySelector('.span1-1').style.fontSize = '17px';
          } else if (offsetHeight >= 112 && offsetHeight < 157) {
            document.querySelector('.span1-1').style.lineHeight = '16px';
            document.querySelector('.span1-1').style.fontSize = '12px';
          } else if (offsetHeight >= 157) {
            document.querySelector('.span1-1').style.lineHeight = '16px';
            document.querySelector('.span1-1').style.fontSize = '10px';
          } else {
            document.querySelector('.span1-1').style.lineHeight = '45px';
            document.querySelector('.span1-1').style.fontSize = '22px';
          }

          //기타 질병
          document.querySelector('.dogCaution').innerHTML = dogCaution === null || 'NONE' || '' ? '없음' : dogCaution;
          document.querySelector('.span3').style.fontSize = '22px'; //초기화
          document.querySelector('.span3').style.lineHeight = '38px'; //초기화
          document.querySelector('.x202106-32kg').style.lineHeight = '22px'; //초기화
          let offsetHeight2 = document.querySelector('.dogCaution').offsetHeight;
          if (offsetHeight2 > 26 && offsetHeight2 < 60) {
            document.querySelector('.span3').style.lineHeight = '16px';
            document.querySelector('.span3').style.fontSize = '18px';
          } else if (offsetHeight2 >= 60 && offsetHeight2 < 98) {
            document.querySelector('.span3').style.lineHeight = '16px';
            document.querySelector('.span3').style.fontSize = '17px';
            document.querySelector('.x202106-32kg').style.lineHeight = '21px';
          } else if (offsetHeight2 >= 98) {
            document.querySelector('.span3').style.lineHeight = '16px';
            document.querySelector('.span3').style.fontSize = '14px';
            document.querySelector('.x202106-32kg').style.lineHeight = '21px';
          } else {
            document.querySelector('.span3').style.lineHeight= '38px';
            document.querySelector('.span3').style.fontSize= '22px';
          }


          // 넘버링
          let tmp;
          if (plan !== 'full' || (plan === 'full' && cnt === 1)) {
            tmp = recipeNames[0];
          } else {
            tmp = selectedRecipe.toUpperCase();
          }
          document.querySelector('.numbering').innerHTML = num + '/' + dogName + '/' + tmp + '/' + plan.toUpperCase();

        });
      }

      let prtContent; // 프린트 하고 싶은 영역
      function printer() {
        // contentModify(e.parentNode.parentNode)
        prtContent = document.getElementById('print');
        window.onbeforeprint = beforePrint;
        window.onafterprint = afterPrint;
        window.print();
      }

      function beforePrint(){
        document.getElementById('no-print').style.display = 'none';
        document.querySelector('.print-btn').style.display = 'none';
      }

      function afterPrint(){
        document.getElementById('no-print').style.display = 'block';
        document.querySelector('.print-btn').style.display = 'block';
      }



    </script>
  </body>
</html>
